/* .container{ border: 2px solid green }
.grid-item{ border: 2px solid red; padding: 20px;}
.grid{ border: 1px solid blue} */
.filters ul {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 2px solid #d9d9d9;
  margin: 30px 15px;
}
.filters ul li {
  display: inlnie-block;
  text-align: center;
  margin-right: 12px;
  padding: 0 5px 8px 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  margin-bottom: -2px;
  color: #000;
  transition: 0.3s;
  text-transform: uppercase;
}
.filters ul li:hover {
  color: #000;
}
.filters ul li.is-checked {
  border-bottom: 3px solid #1f0099;
  color: #1f0099;
}

.filters ul li:last-child {
  margin-right: 0;
}

/* .grid .grid-item h1 {
  background: #eeeeee;
  height: 150px;
  line-height: 150px;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
} */
